.places {
  margin: 12px 148px 0;
}

.places__item {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "title artist"
    "image paragraph"
    "button paragraph"
    ". paragraph";
}

.places__title {
  grid-area: title;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.places__artist {
  grid-area: artist;
  align-self: flex-end;
}

.places__artist-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #aaaaaa;
}

.places__artist-name {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.places__image {
  grid-area: image;
  margin: 0;
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__image:hover {
  background-color: rgba(0, 0, 0, 75);
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.places__button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: button;
  width: 356px;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

.places__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.places__button-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.places__paragraphs {
  grid-area: paragraph;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.places__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

/*------- Consulta midia MEDIA -------*/

@media screen and (max-width: 1024px) {
  .places {
    margin: 16px 24px 0;
  }

  .places__item {
    margin-top: 72px;
  }

  .places__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .places__image {
    margin-top: 23px;
  }

  .places__button {
    width: 355px;
    height: 48px;
  }

  .places__paragraph {
    font-size: 16px;
  }
}

/*------- Consulta midia PEQUENA -------*/

@media screen and (max-width: 544px) {
  .places {
    margin: 12px 0 0;
  }

  .places__item {
    margin: 50px 0 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 30px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "paragraph"
      "button";
  }

  .places__title {
    margin: 0 16px;
    font-size: 42px;
    line-height: 1.1;
  }

  .places__artist {
    margin: 0 16px;
  }

  .places__image {
    margin: 0;
  }

  .places__paragraphs {
    margin: 0 16px;
  }

  .places__button {
    margin: 0 16px;
    width: 288px;
    height: 48px;
  }

  .places__button-label {
    font-size: 14px;
  }
}
