.places {
  margin: 12px 148px 0;
}

.places__item {
  max-width: 984px;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 40px;
  row-gap: 25px;
  grid-template-areas:
    "title artist"
    "image paragraph1"
    "image paragraph2"
    "image paragraph3";
}

.places__title {
  grid-area: title;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

.places__artist {
  grid-area: artist;
  align-self: flex-end;
}

.places__artist-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #aaaaaa;
}

.places__artist-name {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.places__image-container {
  grid-area: image;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.places__image {
  margin-top: 20px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.places__button {
  margin-top: 48px;
  max-width: 356px;
  max-height: 20px;
  padding: 13px 20px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
  text-align: center;
  text-decoration: none;
}

.places__button-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.places__paragraph {
  grid-area: paragraph;
  margin: 0;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.places__paragraph1 {
  grid-area: paragraph1;
  padding-top: 20px;
}

.places__paragraph2 {
  grid-area: paragraph2;
}

.places__paragraph3 {
  grid-area: paragraph3;
}
